@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sky-950 text-white text-lg;
  }

  main {
    @apply py-4 space-y-4;
  }

  section,
  header > nav,
  footer > div {
    @apply max-w-[1250px] mx-auto p-4;
  }

  h1 {
    @apply text-4xl text-center mb-4;
  }

  h2 {
    @apply text-2xl font-semibold mb-4;
  }

  p {
    @apply text-base;
  }

  a,
  .button-link {
    @apply text-lg underline underline-offset-2 duration-200 hover:opacity-70;
  }

  input:not([type='checkbox']),
  label:has(input[type='checkbox']) {
    @apply w-full bg-sky-950 border-2 border-white py-1 px-2 text-lg focus-within:outline-none;
  }

  label:has(input[type='checkbox']) {
    @apply appearance-none cursor-pointer duration-200 hover:bg-white hover:text-sky-950 has-[:checked]:bg-white has-[:checked]:text-sky-950;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button,
  input[type='checkbox'],
  input[type='number'] {
    @apply appearance-none;
  }

  section:has(> table) {
    @apply bg-sky-900;
  }

  table {
    @apply w-full;
  }

  thead {
    @apply hidden md:table-header-group bg-sky-950 border-b-2 border-white;
  }

  tr {
    @apply p-2;
  }

  th,
  td {
    @apply md:p-2;
  }

  tbody tr {
    @apply grid md:table-row text-center even:bg-sky-950;
  }
}
